.number-input, .function-input {
  display: block;
  .function-signature {
    font-weight: bold;
    display: inline-block;
    margin-left: 10px;
  }
  
  input {
    display: inline-block;
    margin-left: 20px;
  }
  &.invalid-value input {
    background-color: #ffbbbb;
  }
}