@import '_settings';
@import '_forms';
@import '_buttons';

::selection {
  background-color : @secondary-color;
  color            : #fff;
}

html {
  height: 100%;
}

body {
  background-color : #fff;
  color            : @font-color;

  font-family      : @font-stack;
  font-size        : @font-size;

  height           : 100%;
  margin           : 0;
  padding          : 0;
}

#phyllotaxis {
  display     : flex;
  align-items : stretch;
}

#canvas {
  flex-grow: 1;
}

.floret {
  fill: #333;
}

#settings {
  padding : 12pt;
  width   : 200px;
}

svg {
  height : 100%;
  width  : 100%;
}
