<fieldset>
  <legend>Phyllotaxis</legend>
  <div
     v-component="phyllotaxis-stepper"
     v-with="value: scale">
     Scale
   </div>

   <div
     v-component="phyllotaxis-stepper"
     v-with="value: angle"
     data-step="0.0001">
     Angle
   </div>
</fieldset>

<fieldset>
  <legend>Florets</legend>
  <div
    v-component="phyllotaxis-stepper"
    v-with="value: size">
    Count
  </div>

  <div
    v-component="phyllotaxis-stepper"
    v-with="value: floretSize">
    Size
  </div>

  <label>
    <input
      type="checkbox"
      v-model="colored">
    Colored
  </label>
</fieldset>

<fieldset>
  <legend>Animation</legend>
  <select v-model="renderer">
    <option value="phyllotaxis-canvas-renderer">Canvas</option>
    <option value="phyllotaxis-line-renderer">Line</option>
    <option value="phyllotaxis-svg-renderer">SVG</option>
  </select>

  <div
    v-component="phyllotaxis-stepper"
    v-with="value: step"
    data-step="0.0001">
    Step
  </div>
</fieldset>

<div class="button-box">
  <button
    type="button"
    class="primary"
    v-class="on : playing"
    v-on="click : preventFocus($event.target)"
    v-dispatch="click : 'toggle-play'">Play</button>

  <button
    type="button"
    v-on="click : preventFocus($event.target)"
    v-dispatch="click : 'save-settings'">Save</button>
</div>

<button
  type="button"
  v-on="click : preventFocus($event.target)"
  v-dispatch="click : 'reset'">Reset</button>
