<div
  id="canvas"
  v-component="{{ renderer }}"
  v-with="
    color   : floretColor,
    florets : florets,
    size    : floretSize"
  ></div>

<form id="settings">
  <fieldset>
    <legend>Phyllotaxis</legend>
    <div
       v-component="phyllotaxis-stepper"
       v-with="value: scale">
       Scale
     </div>

     <div
       v-component="phyllotaxis-stepper"
       v-with="value: angle"
       data-step="{{ step }}">
       Angle
     </div>
  </fieldset>

  <fieldset>
    <legend>Florets</legend>
    <div
      v-component="phyllotaxis-stepper"
      v-with="value: age">
      Count
    </div>

    <div
      v-component="phyllotaxis-stepper"
      v-with="value: floretSize">
      Size
    </div>

    <label>
      <input
        type="checkbox"
        v-model="colored">
      Colored
    </label>
  </fieldset>

  <fieldset>
    <legend>Animation</legend>
    <select v-model="renderer">
      <option value="phyllotaxis-canvas-renderer">Canvas</option>
      <option value="phyllotaxis-line-renderer">Line</option>
      <option value="phyllotaxis-svg-renderer">SVG</option>
    </select>

    <div
      v-component="phyllotaxis-stepper"
      v-with="value: step"
      data-step="0.0001">
      Step
    </div>
  </fieldset>

  <div class="button-box">
    <button
      type="button"
      class="primary"
      v-class="on : playing"
      v-on="click : playing = !playing">Play</button>

    <button
      type="button"
      v-dispatch="click : 'save-settings'">Save</button>
  </div>

  <button
    type="button"
    v-dispatch="click : 'reset'">Reset</button>
</form>
