<div
  id="canvas"
  v-component="hyphae-renderer"
  v-with="
    florets : florets,
    size     : hormoneSize,
    strength : hormoneStrength"
  ></div>

<form id="settings">
  <div v-partial="phyllotaxis-settings"></div>

  <fieldset>
    <legend>Hormones</legend>

    <div
      v-component="phyllotaxis-stepper"
      v-with="value : hormoneSize">
      Size
    </div>

    <div
      v-component="phyllotaxis-stepper"
      v-with="value : hormoneStrength">
      Strength
    </div>
  </fieldset>

  <fieldset>
    <legend>Hyphae</legend>
    <div
      v-component="phyllotaxis-stepper"
      v-with="value : growthRate"
      data-step="1">
      Growth Rate
    </div>

    <button
      class="primary"
      v-class="on : growing"
      v-on="click : growing = !growing">
      Grow!
    </button>
  </fieldset>
</form>
