<div
  id="canvas"
  v-el="container">
  <canvas
    v-el="canvas"
    v-attr="
      height : height,
      width  : width"
    v-on="click : onClick">
  </canvas>
</div>

<div>
  <nav>
    <ul>
      <li><a href="/">Phyllotaxis</a></li>
      <li class="current"><a href="/hyphae">Hyphae</a></li>
    </ul>
  </nav>

  <form id="settings">
    <div v-partial="phyllotaxis-settings"></div>

    <fieldset>
      <legend>Hormones</legend>

      <div
        v-component="phyllotaxis-stepper"
        v-with="value : hormoneSize">
        Size
      </div>

      <div
        v-component="phyllotaxis-stepper"
        v-with="value : hormoneStrength">
        Strength
      </div>
    </fieldset>

    <fieldset>
      <legend>Hyphae</legend>
      <div
        v-component="phyllotaxis-stepper"
        v-with="value : growthRate"
        data-step="1">
        Growth Rate
      </div>

      <button
        type="button"
        class="primary"
        v-class="on : playing"
        v-on="click : playing = !playing">
        Grow!
      </button>
    </fieldset>
  </form>
</div>
